.resume {
    margin-top: 100px;
    position: relative;
    background-color: hsla(240, 3%, 23%, 0.5);
    border: var(--primary-green) solid;
    border-radius: 3rem;
    padding: 1rem;
    padding-top: 50px;
    max-width: 678px;
}

.bio {
    border-radius: 50%;
    border: var(--white) solid 0.15rem;
    /* background-color: azure; */
    background-color: var(--icon-bg);
    width: 100px;
    height: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    position: absolute;
    right: calc(50% - 1rem - 55px);
    top: calc(0% - 70px);
    z-index: 1;
}

.resume-downloads{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.download-button {
    border: 2px solid var(--tertiary-blue);
    color: var(--tertiary-blue);
    padding: 10px 20px;
    margin: 15px;
    text-decoration: none;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
  }
  
  .download-button:hover {
    background-color: var(--tertiary-blue);
    color: var(--black);
  }

  @media (max-width: 767px) {
    .download-button{
        font-size: 0.875rem;
    }
  }