.contact {
    margin-top: 100px;
    position: relative;
    background-color: hsla(240, 3%, 23%, 0.5);
    border: var(--primary-green) solid;
    border-radius: 3rem;
    padding: 1rem;
    padding-top: 50px;
    max-width: 678px;
}

.email a{
    text-decoration: underline dotted;
    color: var(--secondary-green);
}


.email a:hover{
    color: var(--tertiary-blue);
}