@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  /* Blues and greens for healthcare trust and authority */
  --primary-blue: #007BFF;
  --secondary-blue: #0056b3;
  --tertiary-blue: #a5d1ff;
  --primary-green: #28a745;
  --secondary-green: #8fd29f;
  /* Grays and blacks for tech innovation and efficiency */
  --primary-gray: #343a40;
  --secondary-gray: #6c757d;
  --black: #000000;
  --white: #ffffff;

  --icon-bg: rgb(222, 222, 204);

  --devicon-font-size: 5rem;
  scroll-behavior: smooth;
}

body {
  overflow: auto;
  background-color: var(--primary-gray);
  color: #fff;
  font-family: 'Inter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cursor {
  position: fixed;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(165, 209, 255, 0.1), rgba(255, 255, 255, 0.001), rgba(255, 255, 255, 0.000));
  pointer-events: none;
  z-index: 500;
}

.text-reveal__wrapper {
  display: inline-flex;
  justify-content: center;

}

.text-reveal {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  animation: reveal 0.3s linear forwards;
}

.text-reveal::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background-color: white;
  animation: blink 0.5s infinite;
}

.no-blink::after {
  animation: none;
  background-color: transparent;
}

.d-flex {
  display: flex;
}

@keyframes reveal {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}


.App {
  text-align: center;
}

.content {
  margin-left: 100px;
  /* Spacing to avoid overlap with ScrollSpy */
  padding: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}

b {
  color: var(--secondary-green);
}

img:hover {
  border-color: var(--secondary-green);
}

i {
  color: var(--tertiary-blue);
}

h3:hover,
h1:hover,
i:hover {
  color: var(--secondary-green);
  cursor: default;
}

.vr {
  width: 1px;
  border-right: 1px solid var(--secondary-gray);
  height: var(--devicon-font-size);
}

.brand-statement,
.tech-stack,
.portfolio,
.resume,
.contact {
  border-top: none;
  border-bottom: none;
}

@media (max-width: 767px) {

  body,
  .content {
    font-size: 0.875rem !important;
  }

  .vr {
    display: none;
  }

  .stack-grid__group:nth-of-type(even) {
    display: none;
  }

  .brand-statement,
  .tech-stack,
  .portfolio,
  .resume,
  .contact {
    border-top: var(--primary-green) solid;
    border-bottom: var(--primary-green) solid;
    border-left: none;
    border-right: none;
  }
}